# build system
/Pipfile.lock
/.venv
__pycache__
*.egg-info/
/.ref
/.build

# repositories
/googletest
/klee
/klee-uclibc
/llvm
/llvm-debug
/minisat
/simulator
/stp
/testsuite
/z3

# editor files
.vscode

# OS garbage
.DS_Store
