[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# KLEE dependencies
lit = ">=0.6.0"
tabulate = "*"
wllvm = "*"

# workspace dependencies
cached-property = "*"
psutil = "*"
schema = "*"
shellingham = "*"
toml = "*"
vyper-config = "*"

workspace = { path = "ws-src", editable = true }

# linters
"isort[pipfile]" = "*"
mypy = "*"
pylint = "*"
yapf = "*"

[requires]
python_version = "3.7"
