[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# KLEE dependencies
tabulate = "*"
wllvm = "*"

# workspace dependencies
base58 = "*"
cached-property = "*"
psutil = "*"
schema = "*"
shellingham = "*"
toml = "*"
vyper-config = "*"

# the workspace itself
workspace = { path = "ws-src", editable = true }

# linters and formatters
flake8 = "*"
"isort[pipfile]" = "*"
mypy = "*"
pylint = "*"
yapf = "*"

[requires]
python_version = "3.7"
